fastapi
Jinja2==3.1.6
joblib==1.5.3
numpy==2.0.2
pandas
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-multipart
scikit-learn
scipy
threadpoolctl
typing-inspection
typing_extensions
uvicorn[standard]
websockets
